<h2>Edit an Author</h2>
<% if @author.errors.any? %>
  <div id="error_explanation">
  <h3>There was a problem – please try again. Here are the errors you received:</h3>
  <ul>
  <% @author.errors.full_messages.each_with_index do |error, index| %>
    <li><p><%= index+1 %>. <%= error %></p></li>
  <% end %>
</ul>
</div>
<% end %>

<% def error_field(name) %>
  <% if @author.errors[name.to_sym].any? %>
    <% return ' field_with_errors' %>
  <% else %> 
    <% return ''%>
  <% end %>
<% end %>

<%= form_tag author_path(@author), method: "patch" do %>
  <div class="field <%= error_field("name")%>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", "#{@author.name}" %>
  </div>

  <div class="field <%= error_field("email")%>">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", "#{@author.email}" %>
  </div>

  <div class="field <%= error_field("phone_number")%>">
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number", "#{@author.phone_number}" %>
  </div>

  <%= submit_tag "Update" %>
<% end %>