<h2>Create an Author</h2>

<%if @author.errors.any?%>
    <ul id="error_explanation">
      <%@author.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
      <%end%>
    </ul>
<%end%>

<%= form_tag authors_path, method: "post" do %>
  <div class="field <%=@name_err%>">
    <%= label_tag "name", "Name: " %>
    <%= text_field_tag "name", @author.name %>
  </div><br>

  <div class="field <%=@email_err%>">
    <%= label_tag "email", "Email: " %>
    <%= text_field_tag "email", @author.email %>
  </div><br>

  <div class="field <%=@phone_number_err%>">
    <%= label_tag "phone_number", "Phone Number: " %>
    <%= text_field_tag "phone_number", @author.phone_number %>
  </div><br><br>

  <%= submit_tag "Create" %>
<% end %>
